body {
    margin: 0;
    background-color: #272525;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1vh 0 1vh 2vw;
}

a {
    padding-right:1vw; 
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color:white;
    opacity: 0.6;
}

.home-a {
    background-color: rgba(255, 255, 255, 0.9);;
    padding-bottom: 2vh;
    padding-top: 1vh;
    padding-left: 1vw;
    border-radius: 8%;
    color: black;
    box-shadow: 0px 12px 44px -23px rgba(255, 255, 255, 1);
}

.home-a:hover{
    color: black;
    opacity: 0.6;
}

.main {
    height: auto;
    padding-bottom: 2vh;
    background-color: #28282B;
    margin-left: 15%;
    width: 70%;
    color: aliceblue;
}

.image {
    width: 100%;
    height: auto;
}

.image-text {
    color: white;
    position: absolute;
}

.Tfirst {
    font-family: 'Lucida Grande', monospace;
    top: 0;
    margin-top: 20%;
    font-size: 4vw;
    text-shadow: 0px 0px 42px rgb(70, 70, 70);
}

.text {
    width: 100%;
    height: auto;
    font-family: 'Lucida Grande', monospace;
    color: white;
    margin-bottom: 10%;
}

.description {
    margin-left: 40%;
    inline-size: 50%;
    overflow-wrap: break-word;
    margin-bottom: 10%;
    margin-top: 10%;
}

.prom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center; 
}

h1 {
    font-size: 2em !important;
}

.box {
    margin-top: 10vh;
    height: 70vh;
    border: #FF420E solid 1vh;
    border-radius: 0.6%;
    margin-bottom: 4%;
    position: relative;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.row {
    height: 50%;
    width: 100%;
    margin-left: 0vh;
    position: relative;
}

.col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.box-text {
    position: absolute;
    background-color: #FF420E;
    padding: 0.6vh;
    bottom: 46%;
    z-index: 1;
    right: 29%;
    font-size: 1em;
}

.asy {
    height: 100%;
}

.Isecond {
    position: relative;
}

.Isecond>h2 {
    position: absolute;
    bottom: 23%;
    right: 26%;
    font-size: 17vw;
    z-index: 2;
}

.segment {
    height: 120%;
}

.segment>h3 {
    text-align: center;
    margin-top: 2.5%;
}

.Ithird {
    height: 50%;
    margin: 1% 5% 0 5%;
    width: 90%;
}

.seg-row {
    width: auto;
    padding: 5%;
    height: 50%;
}

.last {
    margin-top: 6%;
    height: 80vh;
    background-color: aliceblue;
}

@media only screen and (max-width: 1200px) {
    .box {
        height: 50vh;
    }
    h5 {
        font-size: 1em;
    }
    .seg-row {
        height: 35%;
    }
}